/* ----------------------------------------------------------------------------------------------------------------------- */
/* Body común a todas las paginas */
/* ------------------------------------------------------------------------------------------------------------------------*/

body {
  background-image: url(../img/binding_dark.png);
  width: auto;
  max-width: 1500px;
  margin: 0 auto;
}
